.rentNowBtn{
    background-color: #82060D;
    border: 0;
    text-decoration: none;
    bottom: 0;
    margin-top: 95%;
    margin-left: 50%;
    font-size: 20px;
    padding: 25px 40px;
    border-radius: 25px;
}

.rentNowBtn:hover{
    background-color: white;
    color: #82060D;
    border: 2px;
    border-color: #82060D;
}

.imgPosition{
    margin-left: 7rem;
    margin-top: 7rem;
    object-fit:contain;
}

.bookBtn{
    padding: 15px 15px;
    background-color: #800000;
    color: white;
    border: #800000 3px solid;
    border-radius: 50px;
    font-size: 16px;
    font-family: albertReg;
    cursor: pointer;
    transition: ease 0.3s;
}

.bookBtn:hover {
    background-color: #EDEDED;
    color: #800000;
    border: #82060D 3px solid;
}

.bookBtn:disabled{
    padding: 15px 15px;
    background-color: #636363;
    color: white;
    border: #636363 3px solid;
    border-radius: 50px;
    font-size: 16px;
    font-family: albertReg;
    cursor: pointer;
    transition: ease 0.3s;
}