* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: albertReg;
    background-color: #EDEDED;
}

.landing-page {
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    user-select: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logoLanding {
    font-family: hammerSmithOne;
    font-size: 32px;
    font-weight: bold;
    padding: 0px;
}

/* Nav Links */
.nav-links {
    display: flex;
    list-style-type: none;
    margin-left: 600px;
}

.nav-links li {
    margin: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: ease 0.3s;
}

.nav-links a:hover {
    color: #800000;
    font-weight: bold;
}

/* Sign Up Button */
.signup-btn {
    padding: 15px 30px;
    background-color: #800000;
    color: white;
    border: #800000 3px solid;
    border-radius: 50px;
    font-size: 16px;
    font-family: albertReg;
    cursor: pointer;
    transition: ease 0.3s;
}

.signup-btn:hover {
    background-color: #EDEDED;
    color: #800000;
}

/* Main */
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px 0;
    text-align: left;
}

.text-content {
    flex: 1;
    margin-right: 180px;
    margin-left: 20px;
}

.text-content h1 {
    font-family: albertBold;
    font-size: 78px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.text-content p {
    font-size: 20px;
    color: #666;
    margin-top: 30px;
    letter-spacing: 0.5px;
}

.car-image img {
    width: 800px;
    height: auto;
    margin-right: 30px;
}

/* Booking Form Container */
.booking-form {
    background-color: white;
    padding: 25px;
    margin: 0px 200px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
    font-family: 'Albert Sans', sans-serif;
    color: #5A5A5A;
}

label {
    font-weight: bold;
    font-size: 15px;
    color: #282828;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 11px;
    color: #800000;
}

input[type="date"] {
    padding: 10px;
    color: #787878;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    min-width: 150px;
}

select {
    padding: 12px;
    color: #787878;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    min-width: 150px;
}

select, input[type="date"]:valid {
    color: #282828;
}

select:invalid{
    color: #787878;
}

select:focus{
    color: #282828;
}

.signup{
    margin-bottom: 15px;
}

.vl {
    border-left: 2px solid #800000;
    height: 75px;
    margin-left: -30px;
    margin-right: 35px;
}
/* Search Button */
.search-btn {
    padding: 15px 30px;
    font-weight: bold;
    background-color: white;
    color: #800000;
    border: 2px solid #800000;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-btn:hover {
    background-color: #800000;
    color: white;
    font-weight: bold;
}